@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-display: block;
  src: url("./assets/Rubik.ttf");
}

@font-face {
  font-family: "Doto";
  font-style: normal;
  font-display: block;
  src: url("./assets/Doto.ttf");
}

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  :root {
    color-scheme: light;

    --spacing: 0.25rem;
    --radius: 0.3rem;

    --background: #d5d5d5;
    --foreground: #536077;

    --surface: #ffffff;
    --surface-foreground: #536077;

    --accent: #e16349;

    --border: #eeedef;
  }

  .dark,
  [data-theme="dark"] {
    color-scheme: dark;

    --spacing: 0.25rem;
    --radius: 0.3rem;

    --background: #23262b;
    --foreground: #b7bdc9;

    --surface: #434c55;
    --surface-foreground: #b7bdc9;

    --accent: #e16349;

    --border: #3e4047;
  }
}
