@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-display: block;
  src: url("./assets/Rubik.ttf");
}

@font-face {
  font-family: "Doto";
  font-style: normal;
  font-display: block;
  src: url("./assets/Doto.ttf");
}

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .toast {
    @apply bg-overlay;
  }

  .modal__dialog {
    @apply border border-border;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), var(--background) 90%),
      color-mix(in srgb, var(--surface), var(--background) 95%)
    );
  }

  .input-group {
    @apply border border-border;
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
  }

  .select__popover {
    @apply border border-border shadow-md;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), var(--background) 95%),
      color-mix(in srgb, var(--surface), var(--background) 95%)
    );
  }

  .popover {
    @apply border border-border shadow-md;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), var(--background) 95%),
      color-mix(in srgb, var(--surface), var(--background) 95%)
    );
  }

  .toast {
    @apply border border-border shadow-md;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), var(--background) 95%),
      color-mix(in srgb, var(--surface), var(--background) 95%)
    );
  }

  .select__trigger {
    @apply shadow-none border border-border;
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
  }
}

@layer base {
  :root {
    color-scheme: light;

    --spacing: 0.25rem;
    --radius: 0.3rem;

    --background: #d5d5d5;
    --foreground: #536077;

    --surface: #ffffff;
    --surface-foreground: #536077;

    --accent: #e16349;

    --border: #eeedef;
    --separator: #c0c4cf;

    --field-background: var(--background);
    --field-foreground: var(--foreground);
    --field-placeholder: color-mix(in_srgb, var(--muted), transparent_30%);
    --field-border: var(--border);

    --surface-shadow: 0 0 0 0 transparent inset;
    --overlay-shadow: 0 0 0 0 transparent inset;
    --field-shadow: 0 0 0 0 transparent inset;
  }

  .dark,
  [data-theme="dark"] {
    color-scheme: dark;

    --spacing: 0.25rem;
    --radius: 0.3rem;

    --background: #23262b;
    --foreground: #b7bdc9;

    --surface: #434c55;
    --surface-foreground: var(--foreground);

    --default: #343940;
    --default-foreground: var(--foreground);

    --overlay: var(--background);
    --overlay-foreground: var(--foreground);

    --accent: #e16349;

    --border: #3e4047;
    --separator: #6f7787;

    --field-background: var(--surface);
    --field-foreground: var(--foreground);
    --field-placeholder: color-mix(in_srgb, var(--muted), transparent_30%);
    --field-border: var(--border);

    --surface-shadow: 0 0 0 0 transparent inset;
    --overlay-shadow: 0 0 0 0 transparent inset;
    --field-shadow: 0 0 0 0 transparent inset;
  }
}
