@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-display: block;
  src: url("./assets/Rubik.ttf");
}

@font-face {
  font-family: "KodeMono";
  font-style: normal;
  font-display: block;
  src: url("./assets/KodeMono.ttf");
}

* {
  font-family: "KodeMono", "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .button--outline {
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .toast {
    @apply bg-overlay;
  }
  .modal__backdrop {
    @apply bg-modal;
  }
  .modal__dialog {
    @apply border border-border;
    background: linear-gradient(
      to top,
      color-mix(
        in srgb,
        color-mix(in srgb, var(--accent), var(--background) 90%),
        transparent 40%
      ),
      color-mix(
        in srgb,
        color-mix(in srgb, var(--surface), var(--background) 95%),
        transparent 40%
      )
    );
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .input-group {
    @apply border border-border;
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .select__popover {
    @apply border border-border shadow-md;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), var(--background) 95%),
      color-mix(in srgb, var(--surface), var(--background) 80%)
    );
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .popover {
    @apply border border-border shadow-md;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), var(--background) 95%),
      color-mix(in srgb, var(--surface), var(--background) 70%)
    );
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .toast--danger {
    @apply border border-danger shadow-md;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--danger), var(--surface) 85%),
      color-mix(in srgb, var(--surface), var(--background) 70%)
    );
    box-shadow: color-mix(in srgb, var(--danger), transparent 50%) 0px -3px 0px
      inset;
  }
  .toast--success {
    @apply border border-success shadow-md;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--success), var(--surface) 85%),
      color-mix(in srgb, var(--surface), var(--background) 70%)
    );
    box-shadow: color-mix(in srgb, var(--success), transparent 80%) 0px -3px 0px
      inset;
  }

  .select__trigger {
    @apply shadow-none border border-border;
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .card {
    @apply border border-border;
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .surface {
    @apply rounded-2xl;
  }
  .surface--default {
    @apply border border-border;
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }

  .tabs {
    @apply gap-[1rem];
  }
  .tabs__list {
    @apply border border-border;
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
    box-shadow: color-mix(in srgb, var(--surface), transparent 80%) 0px -3px 0px
      inset;
  }
  .tabs__tab {
    @apply p-[1.2rem];
  }
  .tabs__indicator {
    @apply text-foreground rounded-2xl;
    background: color-mix(in srgb, var(--accent), transparent 80%) !important;
    box-shadow: color-mix(in srgb, var(--accent), transparent 80%) 0px -3px 0px
      inset;
  }
  .tabs__panel {
    @apply px-0 !py-[0rem];
  }

  .skeleton {
    background: color-mix(in srgb, var(--surface), transparent 80%) !important;
  }
}

@layer base {
  :root {
    color-scheme: light;

    --spacing: 0.25rem;
    --radius: 0.3rem;

    --background: #d5d5d5;
    --foreground: #536077;

    --surface: #ffffff;
    --surface-foreground: #536077;

    --success: #1dbe63;
    --success-foreground: var(--snow);

    --danger: #d42326;
    --danger-foreground: var(--snow);

    --accent: #e16349;

    --border: #eeedef;
    --separator: #c0c4cf;

    --field-background: var(--background);
    --field-foreground: var(--foreground);
    --field-placeholder: color-mix(in srgb, var(--muted), transparent 30%);
    --field-border: var(--border);

    --surface-shadow: 0 0 0 0 transparent inset;
    --overlay-shadow: 0 0 0 0 transparent inset;
    --field-shadow: 0 0 0 0 transparent inset;
  }

  .dark,
  [data-theme="dark"] {
    color-scheme: dark;

    --spacing: 0.25rem;
    --radius: 0.3rem;

    --background: #23262b;
    --foreground: #b7bdc9;

    --surface: #434c55;
    --surface-foreground: var(--foreground);

    --success: #1dbe63;
    --success-foreground: var(--snow);

    --danger: #d42326;
    --danger-foreground: var(--snow);

    --default: #343940;
    --default-foreground: var(--foreground);

    --overlay: var(--background);
    --overlay-foreground: var(--foreground);

    --accent: #e16349;

    --border: #3e4047;
    --separator: #6f7787;

    --field-background: var(--surface);
    --field-foreground: var(--foreground);
    --field-placeholder: color-mix(in srgb, var(--muted), transparent 30%);
    --field-border: var(--border);

    --surface-shadow: 0 0 0 0 transparent inset;
    --overlay-shadow: 0 0 0 0 transparent inset;
    --field-shadow: 0 0 0 0 transparent inset;
  }
}

@keyframes loading-slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(300%);
  }
}

.animate-loading {
  animation: loading-slide 1.2s infinite ease-in-out;
}

@utility bg-modal {
  background:
    linear-gradient(
      color-mix(in srgb, black, transparent 80%),
      color-mix(in srgb, black, transparent 80%)
    ),
    linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), transparent 90%),
      transparent
    ),
    radial-gradient(
      color-mix(in srgb, var(--surface), transparent 90%) 2px,
      transparent 2px
    ),
    linear-gradient(
      color-mix(in srgb, var(--surface), transparent 90%) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      color-mix(in srgb, var(--surface), transparent 90%) 1px,
      transparent 1px
    );

  background-size:
    100% 100%,
    100% 100%,
    2rem 2rem,
    1rem 1rem,
    1rem 1rem;
}

@utility bg-main {
  background-image:
    linear-gradient(
      to top,
      color-mix(in srgb, var(--accent), transparent 86%),
      transparent
    ),
    radial-gradient(
      color-mix(in srgb, var(--surface), transparent 90%) 2px,
      transparent 2px
    ),
    linear-gradient(
      color-mix(in srgb, var(--surface), transparent 90%) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      color-mix(in srgb, var(--surface), transparent 90%) 1px,
      transparent 1px
    );

  background-size:
    100% 100%,
    2rem 2rem,
    1rem 1rem,
    1rem 1rem;
}
